@model ProjektZaliczenie.Models.Produkt

@{
    ViewBag.Title = "Delete";
}


<h2>Czy na pewno usunąć dane?</h2>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dział)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dział)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uwagi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uwagi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
